.container {
    padding: 20px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

.project-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}

.project-item {
    flex: 1 1 30%;
    max-width: 30%;
    padding: 10px;
    cursor: pointer;
}

.project-item img {
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}

.project-item:hover img {
    transform: scale(1.1);
}